body {
    font-family: Arial;
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

input, button {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    padding: 6px;
}
